:root {
	--mymovi-primary-color: #005da7;
	--mymovi-secondary-color: #e6137e;
}
	
html,
body {
  margin: 0;
  height: 100%;
}

.mymovi-map {
  height: 80vh;
  width: 100%;
  position: relative;
}

.mymovi-map.select-mode canvas {
	cursor: crosshair;
}

.mymovi-map.editing .ol-layers {
	opacity: 100%;
	transition: opacity 1s;
}

.mymovi-map.not-editing .ol-layers {
	opacity: 50%;
	transition: opacity 1s;
}

.mymovi-contents-wrapper {
	position: absolute;
	left: 1em;
	bottom: 1em;

	overflow-y: auto;
}

.mymovi-contents-wrapper.closed {
	width: min-content;
	height: min-content;
}

.mymovi-contents-wrapper.opened {
	box-sizing: border-box;
	width: calc(100% - 2em);
	height: calc(50% - 1em);
	padding: 1em;

	background-color: var(--ol-background-color);
}

.mymovi-contents-toggle {
	position: sticky;
	text-decoration: none;
	border: 1px solid var(--ol-subtle-foreground-color);
	border-radius: 5px;
	background-color: var(--ol-background-color);
	text-align: center;

	display: inline-block;
	width: 1.375em;
	height: 1.375em;
	top: 0px;
}

.mymovi-contents-wrapper.closed .mymovi-contents-toggle:after {
	content: "🞧";
}

.mymovi-contents-wrapper.opened .mymovi-contents-toggle:after {
    content: "✖";
}

.mymovi-contents-wrapper.opened .mymovi-contents {
	display: block;
}

.mymovi-contents-wrapper.closed .mymovi-contents {
	display: none;
}

/* MyMoVi form */

.mymovi-form .mymovi-nav-wrapper {
	display: flex;
}

.mymovi-form button,
.mymovi-form-the-map input[type="button"],
.mymovi-form input[type="submit"],
.mymovi-form .wp-block-button a,
.mymovi-form .wp-block-button__link,
.mymovi-form .button {
	background: var(--mymovi-primary-color);
}

.mymovi-form button:hover,
.mymovi-form button:focus,
.mymovi-form-the-map input[type="button"]:hover,
.mymovi-form input[type="submit"]:hover,
.mymovi-form .wp-block-button a:hover,
.mymovi-form .wp-block-button a:focus,
.mymovi-form .wp-block-button__link:hover,
.mymovi-form .wp-block-button__link:focus,
.mymovi-form .button:hover,
.mymovi-form .button:focus {
	background: var(--mymovi-secondary-color);
}

.mymovi-form .mymovi-nav-wrapper .mymovi-nav.prev {
	width: 50%;
}

.mymovi-form .mymovi-nav-wrapper .mymovi-nav.next {
	width: 50%;
	text-align: right;
}

.mymovi-form-submit,
.mymovi-nav-wrapper {
  margin-top: 1.5rem;
}

.map-control-buttons {
	margin: 1rem 1rem 1rem 3rem;
}

.properties-input {
  display: none;
  position: relative;
  margin: 0 2rem 2rem 2rem;
  height: calc(100% - 7rem);
  width: calc(100% - 4rem);
  z-index: 1;
  padding: 1rem;
  background: rgba(255,255,255,.8);
  box-sizing: border-box;
}

.mymovi-form-the-map input[type=button].select-mode {
	background: rgb(230, 19, 126);
}

.mymovi-form-the-map .remove-last-point {
	display: none;
}

.mymovi-form-the-map .remove-last-point.drawing-active {
	display: inline-block;
}

.mymovi-form .map-icon-outer {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.mymovi-form .map-icon {
	height: 80px;
	width: 80px;
	text-align: center;
	border-radius: 10px;
	padding: 10px;
	display: table;
	margin-right: 1rem;
}

.mymovi-form .map-icon-inner {
	display: table-cell;
	vertical-align: middle;
	height: 80px;
}

.mymovi-form .map-icon img {
	max-height: 100%;
	height: auto;
	max-width: 100%;
	width: auto;
}

.mymovi-form-field datalist {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	writing-mode: vertical-lr;
}

.mymovi-form-field datalist option {
	padding: 0;
}
  
.mymovi-form-field input[type="range"] {
	margin: 0;
}

/* MyMoVi style for original ol controls */

.ol-control button {
	color: white;
	background: var(--mymovi-primary-color);
	outline: none !important;
	border-radius: 0 !important;
	margin: 0;
}

.ol-control button.ol-zoom-in {
	margin-bottom: 3px;
}

.ol-control button:hover,
.ol-control button:focus {
	color: white;
	background: var(--mymovi-secondary-color);
}
