html,
body {
  margin: 0;
  height: 100%;
}

.mymovi-map {
  height: 400px;
  width: 100%;
  position: relative;
}

.mymovi-map.select-mode canvas {
	cursor: crosshair;
}

/* MyMoVi form */

.mymovi-form .mymovi-nav-wrapper {
	display: flex;
}

.mymovi-form .mymovi-nav-wrapper .mymovi-nav.prev {
	width: 50%;
}

.mymovi-form .mymovi-nav-wrapper .mymovi-nav.next {
	width: 50%;
	text-align: right;
}

.mymovi-form-submit,
.mymovi-nav-wrapper {
  margin-top: 1.5rem;
}

.properties-input {
  display: none;
  position: absolute;
  top: 2rem;
  left: 2rem;
  height: calc(100% - 4rem);
  width: calc(100% - 4rem);
  z-index: 1;
  padding: 1rem;
  background: rgba(255,255,255,.8);
  box-sizing: border-box;
}

.mymovi-form-the-map input[type=button].select-mode {
	background: rgb(230, 19, 126);
}

.mymovi-form-the-map .remove-last-point {
	display: none;
}

.mymovi-form-the-map .remove-last-point.drawing-active {
	display: inline-block;
}

.mymovi-form .map-icon {
	height: 80px;
	width: 80px;
	text-align: center;
	border-radius: 10px;
	padding: 10px;
	display: table;
	margin-bottom: 20px;
}

.mymovi-form .map-icon-inner {
	display: table-cell;
	vertical-align: middle;
	height: 80px;
}

.mymovi-form .map-icon img {
	max-height: 100%;
	height: auto;
	max-width: 100%;
	width: auto;
}

.mymovi-form-field datalist {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	writing-mode: vertical-lr;
}

.mymovi-form-field datalist option {
	padding: 0;
}
  
.mymovi-form-field input[type="range"] {
	margin: 0;
}
