.mymovi-form-field.type-range {
	width: fit-content;
}

.mymovi-form-field datalist {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	writing-mode: vertical-lr;
	width: fit-content;
}

.mymovi-form-field datalist option {
	padding: 0;
}
  
.mymovi-form-field input[type="range"] {
	width: 100%;
	margin: 0;
}